{% extends "blog/base.html" %}
{%block content%}
	<h1>htw Saar Raumplaner - About</h1>
	<h8> </h8>
	<em>Die Fakultät Wirtschaftswissenschaften stellt für die Studierende sogenannte
		Selbstlernplätze zur Verfügung. Diese Selbstlernplätze können von den Studierenden
		für das Selbststudium oder auch für die Durchführung von Teammeetings genutzt werden.
		Um die Verteilung dieser Plätze zu optimieren, wurde dieses Buchungssystem entwickelt.
		Mit diesem Buchungssystem können die Studierenden einen Selbstlernplatz für ein bestimmten
		Zeitraum (Datum, Uhrzeit und Dauer) reservieren.
	</em>
{% endblock content %}
