{% extends "blog/base.html" %}
{%block content%}
	<h1>htw Saar Raumplaner - Login</h1>
		<div class="col-md-4">
		  <div class="content-section">
			<p class='text-muted'><p>Geben Sie Ihre Daten ein</p>
			  <ul class="list-group">
				<li class="list-group-item list-group-item-light">Username</li>
				<li class="list-group-item list-group-item-light">Passwort</li>
			  	<li class="list-group-item list-group-item-light">Anmelden</li>
			  </ul>
			</p>
		  </div>
		</div>
	  </div>
{% endblock content %}
